.smallTextBox {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 10em;
}

.inputBox {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 1.5em;
  width: 15vw;
  max-width: 12vw;
  border: 1px solid #b4acba;
  margin-top: 1em;
}
